@font-face {
  font-family: "MullerRegular";
  src: url(src/style/font/MullerReg.ttf) format("truetype");
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__header {
  width: 100%;
  box-shadow: 0 3px 8px rgba(152, 152, 152, 0.2);
  display: flex;
  justify-content: center;
}


.header {
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 1200px;
}

.header__logo {
  margin-right: 200px;
}

.header__menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.title {
  font-size: 40px;
  line-height: 55px;
  color: #b99150;
  font-weight: 800;
  font-family: "MullerRegular", Verdana, Tahoma;
}

.title__only {
  font-size: 40px;
  line-height: 55px;
  color: #f6af47;
  font-weight: 800;
  font-family: "MullerRegular", Verdana, Tahoma;
}

.header__menu-item {
  font-size: 16px;
  color: #a46b00;
  font-family: "MullerRegular", Verdana, Tahoma;
  margin-right: 50px;
}

.select {
  display: flex;
  margin-top: 100px;
  width: 1200px;
}

.select__info {
  display: grid;
  grid-template-columns: 50% 50%;
}

.info {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 40px;
}

.info__image {
  margin-right: 10px;
}

.info__title_block {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffaf18;
  font-weight: 800;
  font-family: "MullerRegular", Verdana, Tahoma;
  margin-bottom: 10px;
}

.info__title_description {
  font-size: 16px;
  line-height: 16px;
  color: #b99150;
  font-family: "MullerRegular", Verdana, Tahoma;
}

.big__picture_pizza {
  width: 90%;
  height: 90%;
}

.button__select_pizza{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 224px;
  height: 60px;
  background-color: #ffaf18;
  font-size: 16px;
  line-height: 55px;
  color: #382400;
  font-weight: bold;
  font-family: "MullerRegular", Verdana, Tahoma;
}

.select__title{
  margin-bottom: 50px;
}
