@font-face {
  font-family: "MullerRegular";
  src: url(./font/MullerReg.ttf) format("truetype");
}

body {
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.container__header {
  width: 100%;
  box-shadow: 0 3px 8px rgba(152, 152, 152, 0.2);
  display: flex;
  justify-content: center;
}


.header {
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 1200px;
}

.header__logo {
  margin-right: 200px;
}

.header__menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.title {
  font-size: 40px;
  line-height: 55px;
  color: #b99150;
  font-weight: 800;
  font-family: "MullerRegular", Verdana, Tahoma;
}

.title__only {
  font-size: 40px;
  line-height: 55px;
  color: #f6af47;
  font-weight: 800;
  font-family: "MullerRegular", Verdana, Tahoma;
}

.header__menu-item {
  font-size: 16px;
  color: #a46b00;
  font-family: "MullerRegular", Verdana, Tahoma;
  margin-right: 50px;
}

.header__menu-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.select {
  display: flex;
  margin-top: 100px;
  width: 1200px;
}

.select__info {
  display: grid;
  grid-template-columns: 50% 50%;
}

@media screen and (max-width: 1200px) {

}

.info {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 40px;
}

.info__image {
  margin-right: 10px;
}

.info__title_block {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffaf18;
  font-weight: 800;
  font-family: "MullerRegular", Verdana, Tahoma;
  margin-bottom: 10px;
}

.info__title_description {
  font-size: 16px;
  line-height: 16px;
  color: #b99150;
  font-family: "MullerRegular", Verdana, Tahoma;
}

.big__picture_pizza {
  width: 90%;
  height: 90%;
}

.button__select_pizza {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 224px;
  height: 60px;
  background-color: #ffaf18;
  font-size: 16px;
  line-height: 55px;
  color: #382400;
  font-weight: bold;
  font-family: "MullerRegular", Verdana, Tahoma;
  outline: none;
  border: none;
}

.button__select_pizza:hover {
  background-color: rgba(255, 175, 24, 0.68);
  cursor: pointer;
}

.select__title {
  margin-bottom: 50px;
}

.cart {
  display: flex;
  width: 1200px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 140px;
}

.cart__title {
  font-size: 35px;
  line-height: 55px;
  color: #bd985c;
  font-weight: bold;
  font-family: "MullerRegular", Verdana, Tahoma;
  text-align: center;
}

.cart__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cart__item {
  width: 282px;
  height: 354px;
  box-shadow: 0 3px 7.5px rgba(152, 152, 152, 0.2);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.cart__item_title {
  font-size: 18px;
  line-height: 55px;
  color: #382400;
  font-weight: bold;
  font-family: "MullerRegular", Verdana, Tahoma;
  text-align: center;
}

.cart__item_description {
  font-size: 14px;
  line-height: 18px;
  color: #181a1a;
  font-family: "MullerRegular", Verdana, Tahoma;
  text-align: center;
}

.cart__item_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 224px;
  height: 60px;
  background-color: #ffaf18;
  font-size: 16px;
  line-height: 55px;
  color: #382400;
  font-weight: bold;
  font-family: "MullerRegular", Verdana, Tahoma;
  margin-top: 20px;
}

.cart__item_button:hover {
  background-color: rgba(255, 175, 24, 0.68);
  cursor: pointer;
}

.footer {
  display: grid;
  grid-template-columns: 40% 40% 20%;
  flex-direction: row;
  width: 1200px;
  margin-top: 200px;
}

.footer__description {
  font-size: 16px;
  line-height: 24px;
  color: #b99150;
  font-family: "MullerRegular", Verdana, Tahoma;
  margin-top: 70px;
}

.footer__form_input {
  width: 310px;
  padding-left: 20px;
  height: 60px;
  background-color: #ffffff;
  border: 1px solid #b99150;
  font-size: 18px;
  line-height: 45px;
  outline: none;
  cursor: pointer;
  color: #cba86e;
  font-family: "MullerRegular", Verdana, Tahoma;
  margin-bottom: 20px;
}

.footer__form_input::placeholder {
  font-size: 18px;
  line-height: 45px;
  color: #cba86e;
  font-family: "MullerRegular", Verdana, Tahoma;
}

.footer__form_input.error {
  border: 1px solid red;
}

.footer__form {
  margin-top: 50px;
}

.footer__title {
  margin-right: 110px;
}

.footer__image {
  width: 400px;
  position: absolute;
  left: 70%;
  z-index: -1;
  height: 400px;
}

.popup {
  display: none;
  position: fixed;
  top: 10%;
  flex-direction: row;
  box-shadow: 0 5px 10px rgba(152, 152, 152, 0.2);
  background: white;
  z-index: 10;
  border: 1px solid #b99150;
  padding: 5px;
}

.popup.active {
  display: flex;
}

.popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
}

.popup__bg.active {
  opacity: 1;
  pointer-events: all;
}

@media screen and (max-width: 1200px) {
  .header {
    width: 800px;
    padding-left: 20px;
  }

  .header__logo {
    margin-right: 100px;
  }

  .title {
    font-size: 25px;
    line-height: 30px;
  }

  .title__only {
    font-size: 25px;
    line-height: 30px;
  }

  .select {
    width: 800px;
    padding-left: 20px;
    margin-top: 50px;
  }

  .big__picture_pizza {
    width: 40%;
    height: 35%;
  }

  .info {
    flex-direction: column;
    align-items: flex-start;
  }
  .select__title{
    margin-bottom: 25px;
  }
  .cart{
    margin-top: 25px;
    width: 800px;
  }
  .cart__items{
    justify-content: center;
  }
  .cart__item{
    margin-right: 20px;
  }

  .footer{
    margin-top: 50px;
    width: 800px;
    grid-template-columns: 50% 50%;
  }
  .footer__description{
    margin-top: 25px;
  }
}

@media screen and (max-width: 1000px) {
  .big__picture_pizza {
    /*display: none;*/
  }
}

@media screen and (max-width: 800px) {
  .header {
    width: 100%;
    padding-left: 20px;
  }

  .header__logo {
    margin-right: 50px;
  }

  .title {
    font-size: 25px;
    line-height: 30px;
  }

  .title__only {
    font-size: 25px;
    line-height: 30px;
  }

  .select {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
    flex-direction: column;
  }
  .select__info{
    grid-template-columns: 100%;
  }

  .big__picture_pizza {
    display: none;
  }

  .info {
    flex-direction: column;
    align-items: flex-start;
  }
  .select__title{
    margin-bottom: 25px;
  }
  .cart{
    margin-top: 25px;
    width: 100%;
  }
  .cart__items{
    justify-content: center;
    flex-direction: row;
  }
  .cart__item{
    margin-right: 20px;
  }

  .footer{
    margin-top: 25px;
    margin-left: 20px;
    width: 100%;
    grid-template-columns: 100%;
  }
  .footer__description{
    margin-top: 25px;
  }
}

@media screen and (max-width: 520px) {

}
